<a href="https://colab.research.google.com/github/ksmit117/CSC221_ksmit117/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# 4-1
pizza = ["Pineapple", "Chicken", "cheese"]

for x in pizza:
  print("I like",x, "pizza")

  print("Pineapple on pizza is good")

I like Pineapple pizza
Pineapple on pizza is good
I like Chicken pizza
Pineapple on pizza is good
I like cheese pizza
Pineapple on pizza is good

In [ ]:
# 4-2
Animals = ["Dove", "Hawk", "Cardinal"]

for x in Animals:
  print("a",x,"can fly")

  print(Animals, "all are types of birds")

a Dove can fly
['Dove', 'Hawk', 'Cardinal'] all are types of birds
a Hawk can fly
['Dove', 'Hawk', 'Cardinal'] all are types of birds
a Cardinal can fly
['Dove', 'Hawk', 'Cardinal'] all are types of birds

In [ ]:
# 4-3
x = range(21)

for n in x:
  print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# 4-4
x = range(1000000)

for n in x:
  print(n)

In [ ]:
# 4-6
x = [i for i in range(1,20+1) if i%2!=0]

print(x)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
# 4-8
cubes = []

for value in range(1,11):
  cubes = value ** 3
  print(cubes)

1
8
27
64
125
216
343
512
729
1000

In [10]:
# 4-10

pizza = ["Pineapple ", "Chicken ", "cheese "]

for x in pizza:
  print(x * 3)

Pineapple Pineapple Pineapple
Chicken Chicken Chicken
cheese cheese cheese

In [25]:
# 4-11
pizza = ["Pineapple", "Chicken", "cheese"]

pizza.insert(1, "oninon")


for x in pizza:
  print("My favorite pizza is",x, "pizza")


friends_pizza = ["veggie", "broccoli"]

for x in friends_pizza:
  print("my friends favorite pizza is",x)

My favorite pizza is Pineapple pizza
My favorite pizza is oninon pizza
My favorite pizza is Chicken pizza
My favorite pizza is cheese pizza
my friends favorite pizza is veggie
my friends favorite pizza is broccoli

In [28]:
# 4-12

foods = ["pasta", "salad", "tacos"]

for x in foods:
  print(x)

favorite_dishes = ["chicken alfredo", "ceaser salad", "beef tacos"]
for x in favorite_dishes:
  print(x)

pasta
salad
tacos
chicken alfredo
ceaser salad
beef tacos

In [29]:
# 4-13

buffet = ["rice", "potatoes", "burgers", "hotdogs", "steak"]

for x in buffet:
  print(x)

buffet.remove("hotdogs")
buffet.remove("burgers")

for x in buffet:
  print(x)

rice
potatoes
burgers
hotdogs
steak
rice
potatoes
steak