<a href="https://colab.research.google.com/github/ksmit117/CSC221_ksmit117/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# none
x = None
print(x)

None

In [ ]:
#break
for i in range(0,9):
  if i > 1:
    print(i)
    break
# if there was no break thank the loop will contiunue until 9

2

In [ ]:
# try & except

try:
  print(random_input)
except:
  print("Variable not defined")

Variable not defined

In [ ]:
# in

NBA_Playoff_Teams = ['New York Knicks', 'Denver Nuggets', "Dallas MAvericks", 'Indiana Pacers']

for Playoff_team in NBA_Playoff_Teams:
  print(Playoff_team)

New York Knicks
Denver Nuggets
Dallas MAvericks
Indiana Pacers

In [ ]:
# raise
y = range(0, 8)

for i in y:
    print(i)
    if i == 5:
        raise ValueError("Sorry, number raised too high")

0
1
2
3
4
5

ValueError: Sorry, number raised too high

In [ ]:
# True & False

print(10 > 9)
print( 10 < 9)

True
False

In [ ]:
#async & await
import asyncio

async def my_coroutine():
    print("Start coroutine")
    await asyncio.sleep(1)
    print("End coroutine")

async def main():
    print("Before coroutine call")
    await my_coroutine()
    print("After coroutine call")


await main()

Before coroutine call
Start coroutine
End coroutine
After coroutine call

In [ ]:
# if & else


x = 12
y = 2

if x > y:
  print("x is greater than y")
else:
  print("y is greater than x")

In [ ]:
#import & from
from random import randint

rand_num = randint(0,99)

print(rand_num)

72

In [ ]:
#pass

x = range(0,9)

#skips 5
for i in x:
  if i == 5:
    pass
  else:
    print(i)

0
1
2
3
4
6
7
8

In [ ]:
#and

x = 9
y = 9
z = 12

#only one condition is met
if x == y and x == z:
  print(True)
else:
  print(False)

#both conditions are met
if x == y and x < z:
  print(True)
else:
  print(False)

False
True

In [ ]:
#continue
x = 10
for i in range(x):
    i += 1
    if i == 11:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#for

sports_teams = ['New York Knicks', 'New York Yankees', 'New York Jets' ]

for team in sports_teams:
  print(team)

New York Knicks
New York Yankees
New York Jets

In [ ]:
#lambda

# sorts highly rated shows

def ratings():
  tv_shows = { 'Spongebob' : 8.2, 'Teen Titans' : 7.9, 'Ben 10' : 7.5, 'Rick and Morty' : 9.1 }
  shows_ratings_order = dict(sorted(tv_shows.items(), key=lambda item: item[1]))
  print(shows_ratings_order)
ratings()

{'Ben 10': 7.5, 'Rick and Morty': 9.1, 'Spongebob': 8.2, 'Teen Titans': 7.9}
{'Ben 10': 7.5, 'Teen Titans': 7.9, 'Spongebob': 8.2, 'Rick and Morty': 9.1}

In [ ]:
#Class
class Restaurant:
  def __init__(self, restaurant_name, cuisine_type):
    self.restaurant_name = restaurant_name
    self.cuisine_type = cuisine_type

  def describe_restaurant(self):

    print(f"The name of the restaurant is:", self.restaurant_name)
    print(f"The cuisine type of the restaurant is:", self.cuisine_type)

  def open_restaurant(self):
    print(f"restaurant is open")

restaurant = Restaurant("Korean BBQ", "Korean")

print(restaurant.restaurant_name)
print(restaurant.cuisine_type)

restaurant.describe_restaurant()
restaurant.open_restaurant()

Korean BBQ
Korean
The name of the restaurant is: Korean BBQ
The cuisine type of the restaurant is: Korean
restaurant is open

In [ ]:
#is
names = ['Nico', 'James', 'Roudhy']
surname = ['James', 'Rodriguez', 'West']

print(names is surname)
print(names[1] is surname[0])

False
True

In [ ]:
#def
def square_root():
  num = int(input(f"enter a number: "))
  squared_num = num ** 2
  return squared_num

result = square_root()
print(result)

enter a number: 9
81

In [ ]:
#nonlocal

def outer_function():
    x = 10
    def inner_function():
        nonlocal x
        x = 20
        print("Inner function:", x)

    inner_function()
    print("Outer function:", x)

outer_function()

Inner function: 20
Outer function: 20

In [ ]:
#while

x = 0
while x <= 9:
  x += 1
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#if & elif

user_num = int(input("number: "))

print(user_num)

if user_num < 7:
    print(f"number is to small")
elif  user_num > 7:
    print(f"To Big")
elif user_num == 7:
    print(f"Perfect")

number: 8
8
To Big

In [ ]:
#not

x = False

print(not x)
print(x)


x = True

print(not x)
print(x)

True
False
False
True

In [ ]:
#with

# Opening a file using 'with'
with open('example.txt', 'r') as file:
    data = file.read()
    print(data)

# File is automatically closed after exiting the 'with' block

FileNotFoundError: [Errno 2] No such file or directory: 'example.txt'

In [ ]:
#assert
x = 'knicks'

assert x == 'Pacers'
assert x == 'knicks'

In [ ]:
#del

x =['Grapes', 'starwberries', 'cherry']

del x[0]

print(x)

['starwberries', 'cherry']

In [ ]:
#global
x = 10

def modify_global():
    global x
    x = 20

print("Before:", x)
modify_global()
print("After:", x)

In [ ]:
#or

x = 9
y = 9
z = 12

#only one condition is met
if x == y or x > z:
  print(True)
else:
  print(False)

#no conditions are met
if x > y or x > z:
  print(True)
else:
  print(False)

True
False

In [ ]:
#yield
def my_generator():
    yield 1
    yield 2
    yield 3


gen = my_generator()


for value in gen:
    print(value)

1
2
3